* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 80%;
}

@media only screen and (min-width: 576px) {
  body, html {
    font-size: 90%;
  }
}

@media only screen and (min-width: 992px) {
  body, html {
    font-size: 100%;
  }
}

.show-only-screen {
  opacity: 0;
  transform: translateY(4rem);
  transition: all 2s;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.text--serif {
  font-family: serif;
}

.text--primary {
  color: #00ADF0;
}

.button {
  cursor: pointer;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0;
  border: none;
  color: #fff;
}

.button-secondary {
  background-color: #333;
}

.button-secondary:hover {
  background-color: #1F1F1F;
}

.button-primary {
  background-color: #00ADF0;
}

.button-primary:hover {
  background-color: rgba(0, 173, 240, 0.8);
}

.button-show-more {
  color: rgba(255, 255, 255, 0.6);
}

.button-show-more:hover {
  color: #fff;
}

.form-control-custom {
  display: flex;
  width: 100%;
}

.form-control-custom input, .form-control-custom button {
  height: 2.5rem;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.form-control-custom input {
  flex: auto;
}

.form-control-custom button {
  transition: all .5s;
}

.form-control-custom button:hover {
  opacity: .7;
}

.brandhub .carousel-item {
  position: relative;
  filter: grayscale(30%);
}

.brandhub .brandhub__overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  font-family: serif;
}

footer h4, footer h3 {
  font-family: serif;
}

footer li {
  list-style-type: none;
}

footer a {
  cursor: pointer;
  display: inline-block;
  color: #6D757D;
  font-size: 0.8rem;
  text-decoration: none;
}

footer a:hover, footer a.active {
  color: #00ADF0 !important;
}

footer .footer__menu {
  padding: 0;
}

footer .footer__list-item {
  gap: 2rem;
}

footer .footer__logo {
  display: flex;
  justify-content: center;
}

footer .footer__list-logo img {
  height: 2rem;
  margin: 0 auto;
  display: block;
}

footer .footer__privacy-menu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footnotes {
  word-spacing: .15rem;
  font-weight: light;
}

body {
  background-color: #000;
}

header {
  font-size: .9rem;
  font-weight: 400;
  background-color: #000;
}

header .logo-wrap {
  display: flex;
}

header .header__navbar-nav--sm {
  font-size: .8rem;
}

header .header__nav .navbar-brand img {
  height: 3.5rem;
}

header .header__nav .navbar-toggler i {
  color: #fff;
  font-size: 1.5rem;
}

header .header__nav .navbar-toggler[aria-expanded='true'] .open-text {
  display: none;
}

header .header__nav .navbar-toggler[aria-expanded='true'] .close-text {
  display: block;
}

header .header__nav .navbar-toggler[aria-expanded='false'] .open-text {
  display: block;
}

header .header__nav .navbar-toggler[aria-expanded='false'] .close-text {
  display: none;
}

header .nav__bottom {
  margin-top: -4.1rem;
}

header .header__navbar-nav {
  gap: .4rem;
}

header .header__navbar-nav a {
  color: #fff;
}

header .header__navbar-nav .nav-link:hover, header .header__navbar-nav .nav-link:focus, header .header__navbar-nav .nav-link.active {
  color: #00ADF0;
}

.headlines {
  background-color: #000;
}

.headlines .headlines__logo-wrapper {
  position: relative;
}

.headlines .headlines__logo-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.headlines .headlines__logo-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 100%;
  background-color: #00ADF0;
  transition: all .2s;
}

.headlines .headlines__logo-wrapper:hover::after {
  height: .5rem;
}

.reveal .reveal__tab:not(#news) {
  display: none;
}

.reveal .reveal__item {
  outline: 2px solid #1F1F1F;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.reveal .reveal__item .reveal__overlay {
  height: 7rem;
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
  bottom: -4.5rem;
  padding: 0.5rem 2rem;
  background-color: rgba(31, 31, 31, 0.3);
  color: #fff;
  transition: all 0.5s;
}

.reveal .reveal__item .reveal__overlay::-webkit-scrollbar {
  /* for Chrome, Safari, and Opera */
  display: none;
}

.reveal .reveal__item .reveal__overlay .overlay__heading {
  margin: 0;
  font-family: serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.reveal .reveal__item .reveal__overlay .overlay__describe {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0;
  transition: all 0.5s;
}

.reveal .reveal__item:hover .reveal__overlay {
  background-color: rgba(31, 31, 31, 0.7);
  bottom: 0;
}

.reveal .reveal__item:hover .reveal__overlay .overlay__describe {
  opacity: 1;
}

.reveal .reveal__item:hover .reveal__overlay .overlay__heading {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}

.reveal .show-when-click {
  display: none;
}

.reveal .nav-link {
  line-height: 2rem;
  color: #fff;
  padding: 0;
  display: block;
  transition: all .5s;
}

.reveal li.nav-item {
  padding: 1rem;
}

.reveal li.nav-item:hover .nav-link {
  color: #00ADF0;
}

.reveal li.nav-item
.nav-link.active {
  color: #00ADF0;
  border-bottom: #00ADF0 solid 1px;
}
