.example {
  animation-name: bounceIn;
  animation-duration: 2s;
}

.animateDropdown {
  position: absolute;
  animation-name: dropdown;
  animation-duration: 3s;
}

@keyframes dropdown {
  from {
    top: -100vh;
  }
  to {
    top: bottom;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
}

.text--primary {
  color: #00ADF0;
}

.button {
  cursor: pointer;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0;
  border: none;
  color: #fff;
}

.button-secondary {
  background-color: #333;
}

.button-secondary:hover {
  background-color: #1F1F1F;
}

.button-primary {
  background-color: #00ADF0;
}

.button-primary:hover {
  background-color: rgba(0, 173, 240, 0.8);
}

.button-show-more {
  color: rgba(255, 255, 255, 0.6);
}

.button-show-more:hover {
  color: #fff;
}

.form-control-custom {
  display: flex;
  width: 100%;
}

.form-control-custom input, .form-control-custom button {
  height: 2.5rem;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.form-control-custom input {
  flex: auto;
}

.form-control-custom button {
  transition: all .5s;
}

.form-control-custom button:hover {
  opacity: .7;
}

.brandhub .carousel-item {
  position: relative;
  filter: grayscale(30%);
}

.brandhub .brandhub__overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  font-family: serif;
}

header {
  font-size: .9rem;
  font-weight: 400;
  background-color: #000;
}

header .logo-wrap {
  display: flex;
}

header .header__navbar-nav--sm {
  font-size: .8rem;
}

header .header__nav .navbar-brand img {
  height: 3.5rem;
}

header .header__nav .navbar-toggler i {
  color: #fff;
  font-size: 1.5rem;
}

header .header__nav .navbar-toggler[aria-expanded='true'] .open-text {
  display: none;
}

header .header__nav .navbar-toggler[aria-expanded='true'] .close-text {
  display: block;
}

header .header__nav .navbar-toggler[aria-expanded='false'] .open-text {
  display: block;
}

header .header__nav .navbar-toggler[aria-expanded='false'] .close-text {
  display: none;
}

header .nav__bottom {
  margin-top: -4.1rem;
}

header .header__navbar-nav {
  gap: .4rem;
}

header .header__navbar-nav a {
  color: #fff;
}

header .header__navbar-nav .nav-link:hover, header .header__navbar-nav .nav-link:focus, header .header__navbar-nav .nav-link.active {
  color: #00ADF0;
}

.headlines {
  background-color: #000;
}

.headlines .headlines__logo-wrapper {
  position: relative;
}

.headlines .headlines__logo-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.headlines .headlines__logo-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 100%;
  background-color: #00ADF0;
  transition: all .2s;
}

.headlines .headlines__logo-wrapper:hover::after {
  height: .5rem;
}

.reveal .reveal__item {
  outline: 2px solid #1F1F1F;
}
