.reveal {
    .reveal__tab:not(#news){
        display: none;
    }
    .reveal__item {
        outline: 2px solid $dark;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        
        .reveal__overlay {
            height: 7rem;
            position: absolute;
            overflow-y: scroll;
            &::-webkit-scrollbar { /* for Chrome, Safari, and Opera */
                display: none; 
            }
            left: 0;
            right: 0;
            bottom: -4.5rem; // lúc đầu có sẽ cho overlay ẩn xuống dưới để độ cao nhỏ lại, khi nào hover sẽ cho bottom =0
            padding: 0.5rem 2rem;

            background-color: rgba($color: $dark, $alpha: 0.3);
            color: $white;
            transition: all 0.5s;

            .overlay__heading {
                margin: 0; // vì thẻ h3 nó cứ mặc định margin khó chịu nên reset về 0 luôn cho dễ xử lý, thẻ p cũng vậy
                font-family: serif;
                font-size: 1.2rem;
                line-height: 1.3rem;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 1rem;
            }
            .overlay__describe {
                margin: 0;
                font-size: 0.8rem;
                
                font-weight: 300;
                opacity: 0; //lúc chưa hover thì chữ mờ hết ko thấy gì cả
                transition: all 0.5s; // phải nhớ set transition cho cái này vì transition kia chỉ ăn với div ngoài thôi
            }
        }

        &:hover {
            //khi hover vào item thì overlay ăn luôn, code của e là hover vô overlay nó mới ăn là sai
            .reveal__overlay {
                background-color: rgba(
                    $color: $dark,
                    $alpha: 0.7
                ); // bg color cũng đậm lên tí
                bottom: 0; //lúc này bottom =0 nè
                .overlay__describe {
                    opacity: 1; // cho chữ hiện lên
                }
                .overlay__heading {
                    white-space: unset;
                    overflow: unset;
                    text-overflow: unset;
                }
            }
        }
    }
    .show-when-click{
        display: none;
        // transition: all 1s;
    }
    .nav-link{
        line-height: 2rem;
        color: $white;
        padding: 0;
        display: block;
        transition: all .5s;
    }
    li.nav-item{
        padding: 1rem;
        &:hover{
            .nav-link{
                color: $primary;
            }
            
        }
    }
    
    li.nav-item
    .nav-link.active{
        color: $primary;
        border-bottom: $primary solid 1px;
    }
}
