.button{
    // code here
    cursor: pointer;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0;
    border: none;
    color: $white;
    
}

.button-secondary{
    background-color: $secondary;
    &:hover{
        background-color: $dark;
    }
}
.button-primary{
    background-color: $primary;
    &:hover{
        background-color: rgba($color: $primary, $alpha: .8)
    }
}
.button-show-more{
    color: rgba($color: $white, $alpha: .6);
    &:hover{
        color: $white;
    }
}


.form-control-custom{
    display: flex;
    width: 100%;
    input,button{
        height: 2.5rem;
        border: none;
        outline: none;
        padding: 0 1rem;  
    }
    input{
        flex: auto;
    }
    button{
        transition: all .5s;
        &:hover{
            opacity: .7;
        }
    }
}

