*{
    // code here
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-size: 80%;
    @media only screen and (min-width: 576px) {
        font-size: 90%;
    }
    @media only screen and (min-width: 992px) {
        font-size: 100%;
    }
}


.w-outline{
    max-width: calc(100% - 4px);
}
